<template>
  <div class="home">
    <p class="text">
      挥洒历史课咔咔升哈哈哈哈哈哈哈哈哈哈哈哈挥洒历史课咔咔升哈哈哈哈哈哈哈哈哈哈哈哈
    </p>
  </div>
</template>
<script lang="ts">
</script>
<style lang="less">
.text {
  width: 100px;
  .text-lines(2);
}
</style>
