<template>
    <header>
        <div class="nav">
            <router-link :to="val.path" v-for="val in navData" :key="val.path">{{val?.meta?.title}}</router-link>
        </div>
        <div>
            <a-button>中英文</a-button>
            <span @click="handTheme">
                <!-- <component :in></component> -->
            </span>
        </div>
    </header>
</template>

<script setup lang="ts">
import {ref,computed} from "vue"
import {useRouter} from "vue-router"
const {options:{routes}}=useRouter()
const navData=computed(()=>{
    return routes.filter(item=>item?.meta?.nav)
})


</script>

<style>

</style>