<template>
  <div id="root">
    <router-view />
    <!-- <input type="text" /><a-button>send</a-button> -->
  </div>
</template>
<script>
export default {
  setup() {
    console.log(this)
  },
}
</script>
<style></style>
