<template>
  <div class="home">
    
  </div>
</template>
<script lang="ts">
import Header from '../components/header.vue';
</script>
<style scoped lang="less">
// @import "@/styles/var.less";
.text {
  width: 100px;
  .text-lines(2); // 文本溢出
}
</style>
