<template>
<div class="div">
   <ul>
     <li v-for="(item,index) in list" :key="index">
    {{item}}
    </li>
   </ul>
</div>
</template>
<script setup lang="ts">
import useStore from "@/stores"
import { storeToRefs } from "pinia";
import { onMounted } from 'vue'
const store = useStore();
const { list } = storeToRefs(store);
console.log(store);
const init = () => {
    store.getData()
}

onMounted(()=> {
    init()
})

</script>
<style lang="less">
</style>