<template>
  <div class="home">
    <p class="text">
      多哈哈哈多哈哈哈多哈哈哈多哈哈哈多哈哈哈多哈哈哈多哈哈哈多哈哈哈多哈哈哈
    </p>
  </div>
</template>
<script lang="ts"></script>
<style scoped lang="less">
// @import "@/styles/var.less";
.text {
  width: 100px;
  .text-lines(2); // 文本溢出
}
</style>
