<template>
  <div id="root">
    <base-header></base-header>
    <main>
      <router-view />
    </main>
  </div>
</template>
<script>
export default {
  setup() {
    console.log(this)
  },
}
</script>
<style>
</style>
